button{
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    color: #6f1f37;
    width: 100px;
    height: 35px;
    margin: 5px;
    font-size: 15px;
    background-color: #f6dfe6;
    display: inherit;
    font-family: 'Fredoka One';
    padding: 4px 8px;
    margin: 0 auto;
    margin-top: 5px;
}