form {
    display: inline-flex;
    flex-direction: column;
    text-align: right;
    padding: 20px 40px;
    padding-bottom: 40px;
    background-color: #F7717D;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 8px;
  
    box-shadow: 5px 5px #F43E4D,
                10px 10px #F5515F,
                15px 15px #F66571,
                20px 20px #F66571,
                25px 25px #F88B94;
  }